@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: "Azo Sans";
  src: url("../fonts/AzoSans-Light.eot");
  src: local("☺"), url("../fonts/AzoSans-Light.woff") format("woff"), url("../fonts/AzoSans-Light.ttf") format("truetype"), url("../fonts/AzoSans-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Azo Sans";
  src: url("../fonts/AzoSans-Regular.eot");
  src: local("☺"), url("../fonts/AzoSans-Regular.woff") format("woff"), url("../fonts/AzoSans-Regular.ttf") format("truetype"), url("../fonts/AzoSans-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

._title {
  text-transform: capitalize;
  /* Если меньше контейнера */
  font-size: 32px;
  line-height: 140.625%;
  font-weight: 300;
}

@media (max-width: 1170px) {
  ._title {
    font-size: calc(22px + 10 * ((100vw - 320px) / 850));
  }
}

._title-second {
  /* Если меньше контейнера */
  font-size: 24px;
  font-weight: 400;
  line-height: 144.4444444444%;
  color: #333333;
}

@media (max-width: 1170px) {
  ._title-second {
    font-size: calc(18px + 6 * ((100vw - 320px) / 850));
  }
}

._btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

._btn {
  padding-top: 5px;
  /* Если меньше контейнера */
  padding-left: 35px;
  /* Если меньше контейнера */
  padding-right: 35px;
  padding-bottom: 5px;
  min-height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #333333;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 142.8571428571%;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

@media (max-width: 1170px) {
  ._btn {
    padding-left: calc(20px + 15 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  ._btn {
    padding-right: calc(20px + 15 * ((100vw - 320px) / 850));
  }
}

._btn_icon {
  margin-left: 8px;
}

._btn_icon img {
  max-width: 100%;
}

@media (any-hover: hover) {
  ._btn {
    transition: background-color 0.2s ease 0s;
  }

  ._btn:hover {
    background-color: #ececec;
  }

  ._btn:active {
    transform: translateY(2px);
  }
}

body {
  background-color: #ffffff;
  font-family: "Azo Sans";
  color: #333333;
  font-weight: 300;
  /* Если меньше контейнера */
  font-size: 16px;
  line-height: 156.25%;
}

@media (max-width: 1170px) {
  body {
    font-size: calc(14px + 2 * ((100vw - 320px) / 850));
  }
}

body._lock-scroll {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

._container {
  padding: 0px 15px 0px 15px;
  margin: 0px auto;
  max-width: 1170px;
}

._container-little {
  padding: 0px 15px 0px 15px;
  margin: 0px auto;
  max-width: 970px;
}

.page {
  /* Если меньше контейнера */
  padding-bottom: 160px;
  flex: 1 1 auto;
}

@media (max-width: 1170px) {
  .page {
    padding-bottom: calc(40px + 120 * ((100vw - 320px) / 850));
  }
}

.page__main-block {
  /* Если меньше контейнера */
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
}

@media (max-width: 1170px) {
  .page__main-block {
    min-height: calc(220px + 80 * ((100vw - 320px) / 850));
  }
}

.page__main-block:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 120px;
}

@media (max-width: 1170px) {
  .page__main-block:not(:last-child) {
    margin-bottom: calc(40px + 80 * ((100vw - 320px) / 850));
  }
}

@media (min-width: 1920.2px) {
  .page__main-block {
    background-size: contain;
    background-position: center 0;
  }
}

@media (max-width: 768.2px) {
  .page__main-block {
    background-size: 1154px 310px;
  }
}

@media (max-width: 480.2px) {
  .page__main-block {
    background-size: 1054px 230px;
  }
}

.page__main-block_support:not(:last-child) {
  margin-bottom: 0px;
}

@media (min-width: 1440.2px) {
  .page__main-block_security {
    background-size: contain;
  }
}

.page__modernize-cloud {
  /* Если меньше контейнера */
  padding-top: 100px;
  position: relative;
  background-color: #F1F1F1;
}

@media (max-width: 1170px) {
  .page__modernize-cloud {
    padding-top: calc(40px + 60 * ((100vw - 320px) / 850));
  }
}

.page__modernize-cloud:before,
.page__modernize-cloud:after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page__modernize-cloud:before {
  width: 546px;
  height: 525px;
  top: 0;
  left: 0;
  background-image: url("../img/page/modernize-cloud/elements/e-01.png");
}

.page__modernize-cloud:after {
  background-image: url("../img/page/modernize-cloud/elements/e-02.png");
}

@media (min-width: 1920.2px) {
  .page__modernize-cloud:before {
    width: 546px;
    height: 525px;
    top: 0;
    left: 0;
  }

  .page__modernize-cloud:after {
    width: 1390px;
    height: 900px;
    top: 180px;
    right: 0;
  }
}

@media (max-width: 1920.2px) {
  .page__modernize-cloud:before {
    /* Если меньше контейнера */
    width: 546px;
    /* Если меньше контейнера */
    height: 525px;
    top: 0;
    /* Всегда */
    left: calc(-600px + 600 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 1920.2px) and (max-width: 1170px) {
  .page__modernize-cloud:before {
    width: calc(346px + 200 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1920.2px) and (max-width: 1170px) {
  .page__modernize-cloud:before {
    height: calc(325px + 200 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1920.2px) {
  .page__modernize-cloud:after {
    /* Если меньше контейнера */
    width: 1390px;
    /* Если меньше контейнера */
    height: 900px;
    /* Если меньше контейнера */
    top: 160px;
    /* Всегда */
    right: calc(-1000px + 1000 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 1920.2px) and (max-width: 1170px) {
  .page__modernize-cloud:after {
    width: calc(890px + 500 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1920.2px) and (max-width: 1170px) {
  .page__modernize-cloud:after {
    height: calc(600px + 300 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1920.2px) and (max-width: 1170px) {
  .page__modernize-cloud:after {
    top: calc(0px + 160 * ((100vw - 320px) / 850));
  }
}

@media (min-width: 992.2px) {
  .page__modernize-cloud {
    margin-bottom: 380px;
  }
}

@media (max-width: 992.2px) {
  .page__modernize-cloud:not(:last-child) {
    /* Если меньше контейнера */
    margin-bottom: 160px;
  }
}

@media (max-width: 992.2px) and (max-width: 1170px) {
  .page__modernize-cloud:not(:last-child) {
    margin-bottom: calc(60px + 100 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 992.2px) {
  .page__modernize-cloud:before {
    left: -250px;
  }
}

@media (max-width: 992.2px) {
  .page__modernize-cloud:after {
    right: -600px;
  }
}

@media (max-width: 552.2px) {
  .page__modernize-cloud:before {
    left: -100px;
  }

  .page__modernize-cloud:after {
    /* Если меньше контейнера */
    top: 320px;
  }
}

@media (max-width: 552.2px) and (max-width: 1170px) {
  .page__modernize-cloud:after {
    top: calc(420px + -100 * ((100vw - 320px) / 850));
  }
}

.page__direct-access:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 140px;
}

@media (max-width: 1170px) {
  .page__direct-access:not(:last-child) {
    margin-bottom: calc(40px + 100 * ((100vw - 320px) / 850));
  }
}

.page__options-cloud {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/page/options-cloud/bg.jpg");
}

.page__options-cloud:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 140px;
}

@media (max-width: 1170px) {
  .page__options-cloud:not(:last-child) {
    margin-bottom: calc(40px + 100 * ((100vw - 320px) / 850));
  }
}

.page__options-cloud:before,
.page__options-cloud:after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page__options-cloud:before {
  width: 600px;
  height: 100%;
  background-image: url("../img/page/options-cloud/elements/02.png");
}

.page__options-cloud:after {
  width: 800px;
  height: 800px;
  background-image: url("../img/page/options-cloud/elements/01.png");
}

@media (min-width: 1920.2px) {
  .page__options-cloud:before {
    top: 0;
    left: 0;
  }

  .page__options-cloud:after {
    top: 0;
    right: 0;
  }
}

@media (max-width: 1920.2px) {
  .page__options-cloud:before {
    top: 0;
    /* Всегда */
    left: calc(-500px + 500 * ((100vw - 320px) / 1600));
  }

  .page__options-cloud:after {
    top: 0;
    /* Всегда */
    right: calc(-600px + 600 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 992.2px) {
  .page__options-cloud:before {
    /* Если меньше контейнера */
    width: 600px;
    left: -250px;
  }
}

@media (max-width: 992.2px) and (max-width: 1170px) {
  .page__options-cloud:before {
    width: calc(400px + 200 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 992.2px) {
  .page__options-cloud:after {
    /* Если меньше контейнера */
    width: 800px;
    /* Если меньше контейнера */
    height: 800px;
    right: -400px;
  }
}

@media (max-width: 992.2px) and (max-width: 1170px) {
  .page__options-cloud:after {
    width: calc(600px + 200 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 992.2px) and (max-width: 1170px) {
  .page__options-cloud:after {
    height: calc(600px + 200 * ((100vw - 320px) / 850));
  }
}

.main-block__body {
  /* Если меньше контейнера */
  padding-top: 50px;
  /* Если меньше контейнера */
  padding-bottom: 50px;
  /* Если меньше контейнера */
  min-height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 1170px) {
  .main-block__body {
    padding-top: calc(30px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main-block__body {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main-block__body {
    min-height: calc(200px + 200 * ((100vw - 320px) / 850));
  }
}

.main-block__text-block {
  max-width: 650px;
}

.main-block__title {
  /* Если меньше контейнера */
  font-size: 40px;
  line-height: 140%;
  font-weight: 300;
  color: #ffffff;
}

@media (max-width: 1170px) {
  .main-block__title {
    font-size: calc(22px + 18 * ((100vw - 320px) / 850));
  }
}

.main-block__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 25px;
}

@media (max-width: 1170px) {
  .main-block__title:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }
}

.main-block__sub-title {
  /* Если меньше контейнера */
  font-size: 24px;
  font-weight: 400;
  line-height: 141.6666666667%;
  font-weight: 300;
  color: #84929A;
}

@media (max-width: 1170px) {
  .main-block__sub-title {
    font-size: calc(18px + 6 * ((100vw - 320px) / 850));
  }
}

.main-block__sub-title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 50px;
}

@media (max-width: 1170px) {
  .main-block__sub-title:not(:last-child) {
    margin-bottom: calc(25px + 25 * ((100vw - 320px) / 850));
  }
}

.main-block__text {
  /* Если меньше контейнера */
  max-width: 460px;
  /* Если меньше контейнера */
  font-size: 18px;
  font-weight: 300;
  line-height: 138.8888888889%;
  color: #ffffff;
}

@media (max-width: 1170px) {
  .main-block__text {
    max-width: calc(200px + 260 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main-block__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  }
}

.main-block__text:not(:last-child) {
  margin-bottom: 15px;
}

.modernize-cloud__body {
  position: relative;
  z-index: 5;
}

@media (max-width: 992.2px) {
  .modernize-cloud__body {
    padding-bottom: 40px;
  }
}

.modernize-cloud__inner {
  /* Если меньше контейнера */
  -moz-column-gap: 80px;
  column-gap: 80px;
  row-gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1170px) {
  .modernize-cloud__inner {
    -moz-column-gap: calc(10px + 70 * ((100vw - 320px) / 850));
    column-gap: calc(10px + 70 * ((100vw - 320px) / 850));
  }
}

.modernize-cloud__inner:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 100px;
}

@media (max-width: 1170px) {
  .modernize-cloud__inner:not(:last-child) {
    margin-bottom: calc(60px + 40 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 552.2px) {
  .modernize-cloud__inner {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}

.modernize-cloud__image img {
  max-width: 100%;
}

@media (min-width: 552.2px) {
  .modernize-cloud__image {
    flex-grow: 0;
    flex-shrink: 0;
    /* Если меньше контейнера */
    flex-basis: 600px;
  }
}

@media (min-width: 552.2px) and (max-width: 1170px) {
  .modernize-cloud__image {
    flex-basis: calc(100px + 500 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 552.2px) {
  .modernize-cloud__image {
    /* Если меньше контейнера */
    width: 600px;
  }
}

@media (max-width: 552.2px) and (max-width: 1170px) {
  .modernize-cloud__image {
    width: calc(240px + 360 * ((100vw - 320px) / 850));
  }
}

.modernize-cloud__row {
  display: flex;
  flex-direction: column;
}

@media (min-width: 552.2px) {
  .modernize-cloud__row {
    max-width: 400px;
  }
}

.modernize-cloud__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 40px;
}

@media (max-width: 1170px) {
  .modernize-cloud__title:not(:last-child) {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 850));
  }
}

@media (min-width: 552.2px) {
  .modernize-cloud__title {
    /* Если меньше контейнера */
    font-size: 24px;
  }
}

@media (min-width: 552.2px) and (max-width: 1170px) {
  .modernize-cloud__title {
    font-size: calc(14px + 10 * ((100vw - 320px) / 850));
  }
}

.modernize-cloud__text:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 20px;
}

@media (max-width: 1170px) {
  .modernize-cloud__text:not(:last-child) {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 850));
  }
}

@media (min-width: 552.2px) {
  .modernize-cloud__text {
    /* Если меньше контейнера */
    font-size: 16px;
  }
}

@media (min-width: 552.2px) and (max-width: 1170px) {
  .modernize-cloud__text {
    font-size: calc(12px + 4 * ((100vw - 320px) / 850));
  }
}

.join-cloud__title {
  text-align: center;
}

.join-cloud__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 80px;
}

@media (max-width: 1170px) {
  .join-cloud__title:not(:last-child) {
    margin-bottom: calc(30px + 50 * ((100vw - 320px) / 850));
  }
}

.join-cloud__columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 24px 0px 24px 0px;
  overflow: hidden;
}

@media (min-width: 992.2px) {
  .join-cloud__columns {
    margin-top: -220px;
    transform: translateY(50%);
  }
}

@media (max-width: 992.2px) {
  .join-cloud__columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480.2px) {
  .join-cloud__columns {
    grid-template-columns: repeat(1, 1fr);
  }
}

.join-cloud-columns__card {
  /* Если меньше контейнера */
  padding-top: 40px;
  /* Если меньше контейнера */
  padding-right: 30px;
  /* Если меньше контейнера */
  padding-left: 30px;
  /* Если меньше контейнера */
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

@media (max-width: 1170px) {
  .join-cloud-columns__card {
    padding-top: calc(30px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .join-cloud-columns__card {
    padding-right: calc(15px + 15 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .join-cloud-columns__card {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .join-cloud-columns__card {
    padding-bottom: calc(30px + 10 * ((100vw - 320px) / 850));
  }
}

.join-cloud-columns__label {
  text-transform: uppercase;
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 300;
  line-height: 137.5%;
  text-align: center;
}

@media (max-width: 1170px) {
  .join-cloud-columns__label {
    font-size: calc(14px + 2 * ((100vw - 320px) / 850));
  }
}

.join-cloud-columns__label:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 25px;
}

@media (max-width: 1170px) {
  .join-cloud-columns__label:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }
}

.join-cloud-columns__image {
  /* Если меньше контейнера */
  width: 100px;
}

@media (max-width: 1170px) {
  .join-cloud-columns__image {
    width: calc(60px + 40 * ((100vw - 320px) / 850));
  }
}

.join-cloud-columns__image img {
  max-width: 100%;
}

.join-cloud-columns__image:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 25px;
}

@media (max-width: 1170px) {
  .join-cloud-columns__image:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }
}

.join-cloud-columns__title {
  /* Если меньше контейнера */
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  text-align: center;
}

@media (max-width: 1170px) {
  .join-cloud-columns__title {
    font-size: calc(18px + 2 * ((100vw - 320px) / 850));
  }
}

.join-cloud-columns__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 25px;
}

@media (max-width: 1170px) {
  .join-cloud-columns__title:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }
}

.join-cloud-columns__text {
  opacity: 0.9;
  font-size: 14px;
  font-weight: 300;
  line-height: 157.1428571429%;
  text-align: center;
}

.let-cloud__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.let-cloud__title {
  max-width: 945px;
  /* Если меньше контейнера */
  font-size: 24px;
  font-weight: 400;
  line-height: 158.3333333333%;
  text-align: center;
}

@media (max-width: 1170px) {
  .let-cloud__title {
    font-size: calc(18px + 6 * ((100vw - 320px) / 850));
  }
}

.let-cloud__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 100px;
}

@media (max-width: 1170px) {
  .let-cloud__title:not(:last-child) {
    margin-bottom: calc(30px + 70 * ((100vw - 320px) / 850));
  }
}

.let-cloud__columns {
  /* Если меньше контейнера */
  gap: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1170px) {
  .let-cloud__columns {
    gap: calc(20px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 768.2px) {
  .let-cloud__columns {
    grid-template-columns: repeat(1, 1fr);
  }
}

.let-cloud-columns__card {
  /* Если меньше контейнера */
  padding: 50px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #ffffff;
}

@media (max-width: 1170px) {
  .let-cloud-columns__card {
    padding: calc(20px + 30 * ((100vw - 320px) / 850));
  }
}

.let-cloud-columns__card:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
  border-top: 4px solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(90deg, #00C4FB 0%, #0072D5 100%);
}

@media (any-hover: hover) {
  .let-cloud-columns__card {
    transition: transform 0.2s ease 0s;
  }

  .let-cloud-columns__card:hover {
    transform: translateY(-7px);
  }
}

.let-cloud-columns__icon {
  width: 24px;
  height: 24px;
  display: block;
}

.let-cloud-columns__icon:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 25px;
}

@media (max-width: 1170px) {
  .let-cloud-columns__icon:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }
}

.let-cloud-columns__title {
  /* Если меньше контейнера */
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 1170px) {
  .let-cloud-columns__title {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }
}

.let-cloud-columns__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 25px;
}

@media (max-width: 1170px) {
  .let-cloud-columns__title:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }
}

.options-cloud__body {
  /* Если меньше контейнера */
  -moz-column-gap: 130px;
  column-gap: 130px;
  /* Если меньше контейнера */
  padding-top: 140px;
  /* Если меньше контейнера */
  padding-bottom: 140px;
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 5;
}

@media (max-width: 1170px) {
  .options-cloud__body {
    -moz-column-gap: calc(0px + 130 * ((100vw - 320px) / 850));
    column-gap: calc(0px + 130 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .options-cloud__body {
    padding-top: calc(60px + 80 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .options-cloud__body {
    padding-bottom: calc(60px + 80 * ((100vw - 320px) / 850));
  }
}

.options-cloud__images {
  /* Если меньше контейнера */
  min-height: 630px;
  flex-grow: 1;
  flex-shrink: 0;
  /* Если меньше контейнера */
  flex-basis: 460px;
  position: relative;
  z-index: 5;
}

@media (max-width: 1170px) {
  .options-cloud__images {
    min-height: calc(330px + 300 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .options-cloud__images {
    flex-basis: calc(200px + 260 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 768.2px) {
  .options-cloud__images {
    display: none;
  }
}

.options-cloud__inner {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.options-cloud__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 40px;
}

@media (max-width: 1170px) {
  .options-cloud__title:not(:last-child) {
    margin-bottom: calc(15px + 25 * ((100vw - 320px) / 850));
  }
}

.options-cloud__text {
  /* Если меньше контейнера */
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
}

@media (max-width: 1170px) {
  .options-cloud__text {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }
}

.options-cloud__text:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 60px;
}

@media (max-width: 1170px) {
  .options-cloud__text:not(:last-child) {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 850));
  }
}

.options-cloud__list:not(:first-child) {
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
}

.options-cloud-list__item {
  /* Если меньше контейнера */
  padding-top: 45px;
  /* Если меньше контейнера */
  padding-bottom: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}

@media (max-width: 1170px) {
  .options-cloud-list__item {
    padding-top: calc(20px + 25 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .options-cloud-list__item {
    padding-bottom: calc(20px + 25 * ((100vw - 320px) / 850));
  }
}

.options-cloud-list__top {
  display: flex;
  align-items: center;
}

.options-cloud-list__top:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 25px;
}

@media (max-width: 1170px) {
  .options-cloud-list__top:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }
}

.options-cloud-list__icon:not(:last-child) {
  margin-right: 15px;
}

.options-cloud-list__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 137.5%;
}

.options-cloud-list__text {
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 300;
  line-height: 137.5%;
}

@media (max-width: 1170px) {
  .options-cloud-list__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 850));
  }
}

.options-cloud-images__item {
  /* Если меньше контейнера */
  width: 300px;
}

@media (max-width: 1170px) {
  .options-cloud-images__item {
    width: calc(160px + 140 * ((100vw - 320px) / 850));
  }
}

.options-cloud-images__item img {
  max-width: 100%;
}

.options-cloud-images__item_02 {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.direct-access__body {
  /* Если меньше контейнера */
  -moz-column-gap: 100px;
  column-gap: 100px;
  row-gap: 40px;
  display: flex;
  align-items: center;
}

@media (max-width: 1170px) {
  .direct-access__body {
    -moz-column-gap: calc(10px + 90 * ((100vw - 320px) / 850));
    column-gap: calc(10px + 90 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 768.2px) {
  .direct-access__body {
    flex-direction: column;
  }
}

.direct-access__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 40px;
}

@media (max-width: 1170px) {
  .direct-access__title:not(:last-child) {
    margin-bottom: calc(15px + 25 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 768.2px) {
  .direct-access__title {
    text-align: center;
  }
}

.direct-access__text {
  font-weight: 400;
}

.direct-access__text:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 60px;
}

@media (max-width: 1170px) {
  .direct-access__text:not(:last-child) {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 850));
  }
}

.direct-access__list {
  position: relative;
}

.direct-access__list:before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5px;
  background-color: #2B7FCC;
}

.direct-access__item {
  /* Если меньше контейнера */
  padding-left: 40px;
  position: relative;
}

@media (max-width: 1170px) {
  .direct-access__item {
    padding-left: calc(20px + 20 * ((100vw - 320px) / 850));
  }
}

.direct-access__item:not(:last-child) {
  margin-bottom: 20px;
}

.direct-access__item:before {
  content: "";
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #2B7FCC;
}

.direct-access__image img {
  max-width: 100%;
}

@media (min-width: 768.2px) {
  .direct-access__image {
    flex-grow: 1;
    flex-shrink: 0;
    /* Если меньше контейнера */
    flex-basis: 550px;
  }
}

@media (min-width: 768.2px) and (max-width: 1170px) {
  .direct-access__image {
    flex-basis: calc(150px + 400 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 768.2px) {
  .direct-access__image {
    /* Если меньше контейнера */
    width: 550px;
  }
}

@media (max-width: 768.2px) and (max-width: 1170px) {
  .direct-access__image {
    width: calc(280px + 270 * ((100vw - 320px) / 850));
  }
}

.direct-access__column {
  /* Если меньше контейнера */
  gap: 30px;
  display: flex;
}

@media (max-width: 1170px) {
  .direct-access__column {
    gap: calc(20px + 10 * ((100vw - 320px) / 850));
  }
}

@media (min-width: 768.2px) {
  .direct-access__column {
    /* Если меньше контейнера */
    max-width: 560px;
  }
}

@media (min-width: 768.2px) and (max-width: 1170px) {
  .direct-access__column {
    max-width: calc(260px + 300 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 480.2px) {
  .direct-access__column {
    flex-direction: column;
  }
}

.direct-access-column__row {
  /* Если меньше контейнера */
  gap: 30px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1170px) {
  .direct-access-column__row {
    gap: calc(20px + 10 * ((100vw - 320px) / 850));
  }
}

@media (min-width: 480.2px) {
  .direct-access-column__row {
    flex: 0 1 50%;
  }

  .direct-access-column__row:nth-child(2) {
    margin-top: 40px;
  }
}

.direct-access-column__item {
  /* Если меньше контейнера */
  padding-top: 40px;
  /* Если меньше контейнера */
  padding-right: 25px;
  /* Если меньше контейнера */
  padding-left: 25px;
  /* Если меньше контейнера */
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1170px) {
  .direct-access-column__item {
    padding-top: calc(25px + 15 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .direct-access-column__item {
    padding-right: calc(15px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .direct-access-column__item {
    padding-left: calc(15px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .direct-access-column__item {
    padding-bottom: calc(25px + 15 * ((100vw - 320px) / 850));
  }
}

@media (any-hover: hover) {
  .direct-access-column__item {
    transition: transform 0.2s ease 0s;
  }

  .direct-access-column__item:hover {
    transform: translateY(-5px);
  }
}

.direct-access-column__item_little {
  /* Если меньше контейнера */
  height: 220px;
}

@media (max-width: 1170px) {
  .direct-access-column__item_little {
    height: calc(180px + 40 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 480.2px) {
  .direct-access-column__item_little {
    /* Если меньше контейнера */
    min-height: 340px;
  }
}

@media (max-width: 480.2px) and (max-width: 1170px) {
  .direct-access-column__item_little {
    min-height: calc(280px + 60 * ((100vw - 320px) / 850));
  }
}

.direct-access-column__item_big {
  /* Если меньше контейнера */
  min-height: 340px;
}

@media (max-width: 1170px) {
  .direct-access-column__item_big {
    min-height: calc(280px + 60 * ((100vw - 320px) / 850));
  }
}

.direct-access-column__item_01 {
  background-image: url("../img/page/direct-access/01.jpg");
}

.direct-access-column__item_02 {
  background-image: url("../img/page/direct-access/02.jpg");
  color: #ffffff;
}

.direct-access-column__item_03 {
  justify-content: flex-end;
  background-image: url("../img/page/direct-access/03.jpg");
}

@media (max-width: 480.2px) {
  .direct-access-column__item_03 {
    order: 2;
  }
}

.direct-access-column__item_04 {
  background-image: url("../img/page/direct-access/04.jpg");
}

@media (max-width: 480.2px) {
  .direct-access-column__item_04 {
    order: 1;
  }
}

.direct-access-column__title {
  max-width: 180px;
  /* Если меньше контейнера */
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 1170px) {
  .direct-access-column__title {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }
}

.direct-access-column__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 25px;
}

@media (max-width: 1170px) {
  .direct-access-column__title:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }
}

.direct-access-column__text {
  opacity: 0.9;
  font-size: 14px;
  font-weight: 300;
  line-height: 157.1428571429%;
}

.direct-access-column__text:not(:last-child) {
  margin-bottom: 15px;
}